ol {
  background: #fffcf2;
  padding: 20px;
}

ul {
  background: #fffcf2;
  padding: 20px;
}

table, tr, th {
  border: Solid white 2px;
}

td, th {
  text-align: center;
  padding: 20px;
  background-color:
}
table{
  border-collaspe: collaspe;
  margin-left: 33%;
  width: 30%
 

}
body {
  background-color:#ccc5b9;
  color:#8a817c
}
tr:hover{
  background-color:white;
}


nav {
  list-style-type: none;
  position: fixed;
  background-color: #fffcf2;
  width: 100%;
  left: 0;
  top: 0;
  font-family:fantasy;
  
  
}

.navClass {
  display: inline;
  float: right;
  padding: 10px;
}

a {
  text-decoration: underline;
  color: #8a817c;
  font-size: 120%;
}

.navClass:hover {
  background-color: fffcf2;
}

body{
  font-family:fantasy;
  font-color:#8a817c;
  
}

<!DOCTYPE html>
<html>
  <head>
    <title>The title of the document</title>
    <style>
      .container {
        display: flex;
        align-items: center;
        justify-content: center
      }
      img {
        max-width: 100%
      }
      .image {
        flex-basis: 70%;
        order: 2;
      }
      .text {
        color: #8a817c;
        padding-left: 20px;
        font: italic 10px "Fira Sans", fantasy;
        
        
        
        
        


